.section-cubo {
  padding-top: var(--spacing-very-big);
  padding-bottom: var(--spacing-very-big);
}

.section-cubo.-service {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-big);
}

.section-cubo.-service > .header-section {
  grid-column: span 2;
}

.section-cubo.-about {
  background-image: url("/about.png");
  background-repeat: no-repeat;
  background-color: var(--color-second);
  background-size: 50vw;
  padding-left: calc(50vw + var(--spacing-big));
}

.section-cubo.-about > .title-cubo {
  margin-bottom: var(--spacing-big);
}

.section-cubo.-about > .text-cubo {
  padding-right: 10vw;
  margin-bottom: var(--spacing-big);
}

.section-cubo.-about > .wrapper-donut-chart {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
}

.section-cubo.-work > .title-cubo {
  text-align: center;
  margin-bottom: var(--spacing-very-big);
}

.section-cubo.-work > .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-very-big);
}

.section-cubo.-work .item {
  position: relative;
}

.section-cubo.-work .item:not(:last-child)::after {
  content: url('/arrow.png');
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(140%);
}

.section-cubo.-work .item:nth-child(even)::after {
  transform: translate(140%, 270%) rotate(180deg);
}

.section-cubo.-work .feature-cubo {
  width: 225px;
  text-align: center;
}

.section-cubo > .button-cubo {
  width: 150px;
  height: 50px;
  font-size: var(--size-medium);
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.section-cubo.-signup {
  background-color: var(--color-fourth);
}

.section-cubo.-signup .input-cubo {
  width: 300px;
  height: 55px;
}

.section-cubo.-signup .button-cubo {
  width: 150px;
  height: 55px;
  font-size: var(--size-medium);
  font-weight: bold;
}