.section-cubo {
  padding-top: var(--spacing-very-big);
  padding-bottom: var(--spacing-very-big);
}

.section-cubo.-service {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--spacing-big);
}

.section-cubo.-service > .header-section {
  grid-column: span 2;
}

.section-cubo.-about {
  background-image: url("/about.png");
  background-repeat: no-repeat;
  background-color: var(--color-second);
  background-size: 50vw;
  padding-left: calc(50vw + var(--spacing-big));
}

.section-cubo.-about > .title-cubo {
  margin-bottom: var(--spacing-big);
}

.section-cubo.-about > .text-cubo {
  padding-right: 10vw;
  margin-bottom: var(--spacing-big);
}

.section-cubo.-about > .wrapper-donut-chart {
  display: flex;
  justify-content: space-between;
  padding-right: 10vw;
}
