.wrapper-menu-cubo {
  color: var(--color-base);
  font-size: var(--size-small);
  text-transform: uppercase;
}

.menu-cubo {
  display: flex;
  align-items: center;
}

.menu-cubo > .item:not(:last-child) {
  margin-right: var(--spacing-big);
}
