.donut-chart {
  display: inline-block;
  text-align: center;
  color: var(--color-eighth);
}

.donut-chart > .value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-big);
  width: 140px;
  height: 140px;
  border: 6px solid var(--color-zero);
  border-radius: 50%;
  transform: rotate(45deg);
  margin-bottom: var(--spacing-medium);
}
.donut-chart > .value.-one-quarter {
  border-top-color: var(--color-base);
}
.donut-chart > .value.-half {
  border-top-color: var(--color-base);
  border-right-color: var(--color-base);
}
.donut-chart > .value.-three-quarter {
  border-top-color: var(--color-base);
  border-right-color: var(--color-base);
  border-bottom-color: var(--color-base);
}
.donut-chart > .value.-full {
  border-color: var(--color-base);
}

.donut-chart .content {
  transform: rotate(-45deg);
}

.donut-chart > .title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--size-small);
}
