.button-cubo {
  display: block;
  background-color: var(--color-first);
  color: var(--color-zero);
  border-radius: var(--size-radius);
  cursor: pointer;
  text-transform: uppercase;
}

.button-cubo.-second {
  background-color: var(--color-third);
}